/* RESET */
*{
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*******************************************************************
                           COMMON
********************************************************************/

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.flex-cont {
    display: flex;
}

.mobile-padding {
    padding: 0 2rem;
}

/*******************************************************************
                           HEADER 
********************************************************************/

header {
    background-color: #0084fd;
    height: 80px;
    /* test */
    font-size: 30px;
    margin-bottom: 2rem;
}

header > nav {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu {
    display: none;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    margin: 0 2rem;
}

/*******************************************************************
                           MAIN
********************************************************************/

.card {
    background-color: #b5ddff;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.card-cont {
    flex-wrap: wrap;
}


/*******************************************************************
                           TABLET
********************************************************************/

@media screen and (min-width: 768px) {

    .card {
        width: calc((100% / 3) - 1rem);
    }

    .card-cont .card:first-child {
        width: calc( (100% / 3 * 2) - 1rem);
        margin-left: 1rem;
    }
    
    .card-cont :nth-child(3) {
        margin-left: 1rem;
    }

    .card-cont {
        justify-content: space-between;
        /* margin-left: -1rem;
        margin-right: -1rem; */
    }
}

/*******************************************************************
                           DESKTOP
********************************************************************/

@media screen and (min-width: 992px) {
    .menu {
        display: block;
    }

    .hamb-icon {
        display: none;
    }
}