/* RESET */
*{
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*******************************************************************
                           COMMON
********************************************************************/

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.flex-cont {
    display: flex;
    flex-wrap: wrap;
}

.mobile-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

.text-center {
    text-align: center;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

img {
    width: 100%;
}
/*******************************************************************
                           HEADER 
********************************************************************/

header {
    background-color: #0084fd;
    height: 80px;
    /* test */
    font-size: 20px;
    margin-bottom: 2rem;
}

header > nav {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: white;
}

nav div {
    line-height: 20px;
}

.menu {
    display: none;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    margin-left: 2rem;

}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    background-color: white;
    border-radius: 20px;
    padding: 6px;
    color: black;
}

.button-large {
    background-color: #0084fd;
    border-radius: 20px;
    padding: 8px 40px;
    color: white;
}

.button-box {
    margin: 1rem 0;
}

h3 {
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

h2 {
    font-size: 2rem;
    padding: 2rem 0;
}

/*******************************************************************
                           MAIN
********************************************************************/
/* intro */
.card {
    background-color: #b5ddff;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1rem;
    line-height: 2rem;
    justify-content: center;
}

.card p {
    color: #5a6e7f;
    font-size: 16px;
}

.card h3 {
    color: #0084fd;
}

.card span {
    margin-top: 1rem;
}

.img-box {
    max-width: 300px;
    padding: 0;
    position: relative;
    bottom: -10px;
}

.card:first-child {
    padding-bottom: 0;
}

.icon-box {
    max-width: 80%;
    margin: 1rem auto;
    font-size: 6rem;
    color: #0084fd;
}

/* purple */
.back-purple {
    background-color: #9792e4;
    color: white;
}

.planning {
    justify-content: center;
    line-height: 2rem;
}

.plan {
    width: 100%;
    margin: 1rem 0;
}

.plan > img {
    padding: 20px;
    margin-bottom: 3rem;
} 

.idea {
    color: black;
    background-color: white;
    width: calc(100% - 4rem);
    margin: 1rem 2rem 3rem 2rem;
    padding: 2rem;
    border-radius: 30px;
}

.idea > img {
    width: 80%;
}

.idea > p {
    font-style: italic;
}

.idea div {
    color: black;
    margin: 1rem auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
}

/* partners */

.partner-user {
    border-radius: 25px;
    margin: 1rem 0;
    padding: 1rem;
}

/* benefits */
.benefit-card {
    color: black;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
    margin-top: 2rem;
}

/*******************************************************************
                           FOOTER
********************************************************************/

footer {
    background-color: #333333;
    color: white;
    /* test */
    height: 150px;
    padding: 1rem 0;
}

footer > div {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*******************************************************************
                           TABLET
********************************************************************/

@media screen and (min-width: 768px) {
    /* MAIN */
    /* intro */
    .card {
        width: calc((100% / 3) - 1rem);
        justify-content: flex-start;
    }

    .card-cont .card:first-child {
        width: calc( (100% / 3 * 2) - 1rem);
        margin-left: 1rem;
    }
    
    .card-cont :nth-child(3) {
        margin-left: 1rem;
    }

    .card-cont {
        justify-content: space-between;
        margin-left: -1rem;
    }

    /* benefits */
    .benefit-cont {
        justify-content: space-between;
    }

    .benefit-card {
        width: calc((100% / 2) - 1rem);
    }
    
    /* about-us */
    .about-cont {
        justify-content: space-evenly;
    }

    .about-cont div:first-child {
        width: 55%;
    }

    .about-cont div:last-child {
        width: 40%;
    }
}

/*******************************************************************
                           DESKTOP
********************************************************************/

@media screen and (min-width: 992px) {
    /* HEADER */
    .menu {
        display: block;
    }

    .hamb-icon {
        display: none;
    }
    /* MAIN */

    .card > div {
        width: 50%;
    }

    .img-box {
        align-self: flex-end;
    }

    /* purple */
    .planning {
        align-items: flex-end;
    }

    .plan {
        max-width: 50%;
    }

    .idea {
        max-width: 30%;
        margin: 1rem;
    }

    .plan > img {
        margin: 30px 0;
    } 

    /* benefits */
    .benefit-cont {
        justify-content: space-between;
    }

    .benefit-card {
        width: calc((100% / 3) - 1rem);
    }



}